[gcode_macro BED_MESH_CALIBRATE_Develix]
gcode:

   {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
   {% endif %}

 #####  DeVeliX EBB 42 - stop I2C update display -------------------------------------

 {% if printer.configfile.config['display EBB_oled'] is defined  %}
     ## stop I2C update display
     SET_DISPLAY_GROUP DISPLAY="display EBB_oled" GROUP=_btt_ebb_logo 
 {% endif %}	
     
    
 #####  Bed Mesh Calibrate  ------------
    
      BED_MESH_CALIBRATE

 #####  DeVeliX EBB 42 - reset I2C update display -------------------------------------

 {% if printer.configfile.config['display EBB_oled'] is defined  %}
 	## reset I2C update display
	SET_DISPLAY_GROUP DISPLAY="display EBB_oled" GROUP=_toolhead_0	
 {% endif %}	
