
# Disable preheat menus
[menu __main __temp __preheat_pla]
type: disabled

[menu __main __temp __preheat_abs]
type: disabled



[menu __main __temp __cooldown]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Cooldown all
gcode:

    # {% for tool in printer.heaters.available_heaters|sort %} ; check for all available heaters
    #  {% if 'heater_generic ' in tool %}
    #      {% set tool = tool.split(' ')[-1] %}
    #  {% endif %}
    #   SET_HEATER_TEMPERATURE HEATER={tool} TARGET=0   
    # {% endfor %} 

       TURN_OFF_HEATERS
    
   